@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color: var(--cor-fundo);
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    font-size: 18px;
}

hr{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;  
    

}

.container .cartao{
    background-color: #ffffff;
    width: 330px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    border-radius: 12px;
}

.container .cartao .informacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.container .cartao .informacoes img{
    border-radius: 50%;
    margin-top: 20px;
}

.numeros-perfil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}


.informacoes p,
.info-numero{
    font-weight: 700;
}

.informacoes .idade ,
.city, .info-nome{
    color: var(--cor-texto);
}
